form {
    display: flex;
    flex-direction: column;
    background-color: #6786b8;
    padding: 1%;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 20px;
}

input, select {
    width: 80%;
    border-radius: 5px;
    height: 32px;
    border: none;
    margin: 10px auto;
}

.smb {
    margin-top: 20px;
    margin-bottom: 20px;
}


h1 {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}


.success {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #7cc40a;
}

.group_select_disabled {
    display: none;
}

.group_select_enabled {
    display: block;
}