{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/specialities.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Дисциплины</title>
</head>
<body>
<header>
    <div>
        <a href="{% url 'courses' %}">Предметы</a>
        <a href="{% url 'specialities' %}">Специальности</a>
        <a href="{% url 'professors' %}">Преподаватели</a>
        <a href="{% url 'groups' %}">Группы</a>
        <a href="{% url 'acts' %}">Акты</a>
        <a href="{% url 'plans' %}">Учебные планы специальностей</a>
        <a href="{% url 'spread' %}">Распределение нагрузки</a>
    </div>
    <div>
        <a href="{% url 'me' %}">{{ user.professor_data.last_name }} {{ user.professor_data.first_name }} {{ user.professor_data.surname }}</a>
        <a href="{% url 'logout' %}">Выход</a>
    </div>
</header>
<div class="content">
    <h1>Перечень изучаемых дисциплин</h1>
    <table style="margin-bottom: 50px">
        <tr>
            <td class="top"><p>Номер</p></td>
            <td class="top"><p>Название</p></td>
            <td class="top"><p>описание</p></td>
            <td class="top"><p>Часы</p></td>
        </tr>
        {% for course in courses %}
            <tr>
                <td>
                    <p>{{ course.id }}</p>
                </td>
                <td>
                    <p>{{ course.name }}</p>
                </td>
                <td>
                    <p>{{ course.description }}</p>
                </td>
                <td>
                    <p>{{ course.hours }}</p>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<footer>
    <p>© 2001-2023</p>
</footer>
</body>
</html>